.footer__links-element {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 18px;
}

.footer__links-element:last-of-type {
    margin-right: 0;
}