.places {
    display: block;
    max-width: 984px;
    margin: 0 auto;
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}