.place__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
}

@media (max-width:320px) {
    .place__content {
        flex-direction: column;
    }
}

@media (max-width:425px) {
    .place__content {
        flex-direction: column;
    }
}