.cover__subtitle {
width: 360px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
margin-top: 32px;
margin-bottom: 0;
}