.header {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media (max-width: 425px) {
    .header {
        max-width: 393px;
    }
}

@media (max-width: 320px) {
    .header {
        max-width: 288px;
    }
}