.place__paragraphs {
    width: 484px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .place__paragraphs {
        width: 456px;
    }
}

@media (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}