.place__paragraphs {
    width: 484px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .place__paragraphs {
        width: 456px;
    }
}

@media (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}



@media (max-width: 425px) {
    .place__paragraphs {
        max-width: 393px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 320px) {
    .place__paragraphs {
        max-width: 288px;
        margin-right: auto;
        margin-left: auto;
    }
}