.lead__title {
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 56px;
    margin-bottom: 0;
    max-width: 720px;
}