.place__paragraph {
width: 484px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163%;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 26px;
}

@media (max-width: 1024px) {
    .place__paragraph {
        width: 456px;
    }
}

@media (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}

