.place__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 984px;
    margin-bottom: 48px;
    vertical-align: bottom;
}

@media (max-width: 1024px) {
    .place__head {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .place__head {
        max-width: 720px;
    }
}



@media (max-width: 425px) {
    .place__head {
        max-width: 393px;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .place__head {
        max-width: 288px;
        flex-direction: column;
    }
}