.intro {
    padding-top: 92px;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width:1024px) {
    .intro {
        max-width: 928px;
    }
}

@media (max-width:768px) {
    .intro {
        max-width: 720px;
    }
}

@media (max-width:320px) {
    .intro {
        max-width: 288px;
        padding-top: 64px;
    }
}