.place {
    display: block;
    max-width: 984px;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .place {
        max-width: 720px;
    }
}