.footer {
    max-width: 1184px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media (max-width: 660px) {
    .footer {
        max-width: 393px;
        flex-direction: column;
        margin-top: 64px;
    }
}

@media (max-width: 320px) {
    .footer {
        max-width: 288px;
    }
}
