.place__website {
    width: 484px;
    align-self: flex-end;
    margin: 0 auto;
    margin-right: 0;
}

@media (max-width: 1024px) {
    .place__website {
        width: 456px;
        margin-left: 32px;
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .place__website {
        width: 300px;
        margin-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__website {
        width: 352px;
        margin-left: 28px;
    }
}



@media (max-width: 425px) {
    .place__website {
        max-width: 393px;
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .place__website {
        max-width: 288px;
        margin-left: 0;
        margin-top: 32px;
    }
}