.place__website {
    width: 456px;
    align-self: flex-end;
    margin: 0 auto;
    margin-left: 40px;
}

@media (max-width: 1024px) {
    .place__website {
        width: 456px;
        margin-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__website {
        width: 352px;
        margin-left: 28px;
    }
}

@media (max-width: 320px) {
    .place__website {
        max-width: 288px;
        margin-left: 0;
    }
}